body {
    background-color: #f0f6fb !important;
}

.container {
    text-align: center !important;
    border: 3px;
    border-style: solid;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 12px 5px;
    background-color: #000000;
}

.container:after {
    content: "";
    display: inline-block;
    padding-bottom: 50%;
  }


